#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255,253,247);
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    z-index: 2;
}


#navbar-menu{
    display: flex;
    margin-top: 10px;
}

#navbar li{
    list-style-type:none;
}

#navbar a{
    text-decoration: none;
    color: #303030;
    padding: 9px;
    font-weight: 700;
    font-size: 14px;
}

#navbar a:hover{
    color: #0D6EFD;
}
.logo-img{
    width: 104px;
    height: 24px;
}

#navbar-sec3{
    display: flex;
    align-items: center;
}

#navbar-sec3 button{
    font: 15px;
    margin-left: 10px;
  
}

#results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#results-latest{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 30px;
    margin-left: 100px;
}
